@dark:#85939b;
@light:#f7f8f9;

#sidebar {
	#brand {
		display:block;
		float:none;
		clear:both;
		padding:0;
		text-align:center;
		height:auto;

		img {
			width:64px;
			display:block;
			margin:0 auto;
		}

		h2 {
			font-family:'Raleway', sans-serif;
			font-weight:300;
			text-transform:uppercase;
			font-size:20px;
			color:#232a2f;
			width:100%;
			margin:10px 0 10px 5px;
		}
	}

	.nav-append {
		margin:20px auto;
		display:block;
		text-align:center;
	}
}

#sidebar-items {
	#facebook-icon {
		width:24px;
	}
}

#container {
	#home {
		max-height:100vh;
		height:100vh;
		overflow:hidden;
		background:#ffffff url('/img/ChromaStock_13808783.jpg') no-repeat 50% 30%;
		background-size:100%;
	}

	#about-me {
		padding:0 0 0 60px;
		display:table;

		.row {
			padding-right:0;
			margin-right:0;

			> div {
				display:table-cell;
				float:none;
			}

			#about-me-photo {
				padding:0;
				background-color:#e5e8eb;
				height:100%;
			}
		}

		img {
			max-width:100%;
		}

		.photo-description {
			padding:30px;
			font-weight:300;
			font-size:24px;
			line-height:36px;
			text-align:center;
		}
	}

	#offer {
		background-image: url('/img/offer-bg.jpg');
		background-size: 100%;
		background-repeat:no-repeat;
		background-position:right top;

		.offer-main-text {
			background-color:rgba(255, 255, 255, .9);
			padding:20px 20px 0 20px;
			margin-bottom:40px;
		}
	}

	#contact {
		background-image:url('/img/contact-bg.jpg');
		background-size:75%;
		background-repeat:no-repeat;
		background-position:right top;
		padding:0;

		#contact-content {
			padding:60px;
		}
	}
}

.exposed {
	background-color:@dark;

	p {
		margin:20px;
		padding:0;
		color:@light;
		font-weight:400;
	}
}
